.parallax-banner-layer-0 {
  width: 100%;
  height: 100%;
  /*background-color: red;
  position: relative; */
  animation-name: example;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {background-position:0% 50%;
  opacity: 0;}
  3% {opacity: 1;}
  /* 25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;} */
  95% {opacity: 1;}

  100% {background-position:100% 50%;
  opacity: 0;}
}

.parallax-banner-layer-1 {
  background-size: 100% !important;
  /* position: absolute; */
  background-position: 0px 70% !important;
  inset: 0% 0px !important;
  background-origin: content-box, padding-box !important;

}

.parallax-banner-layer-2 {
  background-repeat: no-repeat;
  background-size: 100% auto !important;
  background-position: bottom !important;
inset: inherit !important;

}
