/* Color Theme Swatches in Hex */
$Enrosadira-1-hex: #F27F3D;
$Enrosadira-2-hex: #D95323;
$Enrosadira-3-hex: #BF391B;
$Enrosadira-4-hex: #0D0705;
$Enrosadira-5-hex: #730D0D;

/* Color Theme Swatches in RGBA */
$Enrosadira-1-rgba: rgba(242,127,60, 1);
$Enrosadira-2-rgba: rgba(216,83,34, 1);
$Enrosadira-3-rgba: rgba(191,56,26, 1);
$Enrosadira-4-rgba: rgba(12,6,5, 1);
$Enrosadira-5-rgba: rgba(114,12,12, 1);

/* Color Theme Swatches in HSLA */
$Enrosadira-1-hsla: hsla(22, 87, 59, 1);
$Enrosadira-2-hsla: hsla(16, 72, 49, 1);
$Enrosadira-3-hsla: hsla(11, 75, 42, 1);
$Enrosadira-4-hsla: hsla(11, 40, 3, 1);
$Enrosadira-5-hsla: hsla(0, 80, 24, 1);